<h1>List of dogs:</h1>
<div>
<ul>
{{#each dog}}
    <li>{{this.name}}
        <p>{{this.breed}}</p>
    <img src="/images/{{this.image}}" alt="{{this.name}}">
    </li>
    <button><a href = "/adopt/{{this.id}}/update">Update</a></button>
    <button><a href = "/adopt/{{this.id}}/delete">Delete</a></button>
    <form method="POST"></form>
{{/each}}
</ul>
</div>