<div class="container">
  <ul>
    {{#each dogs}}
    <div class="dogList">
    <img class="dogPic" src="{{this.image}}" alt="{{this.name}}">
        <div class="textpart">
        <li>{{this.name}}
        <p>{{this.breed}}</p>
        <p>{{this.description}}</p>
        <p>{{this.adopted}}</p>
        </li>
        </div>
    </div>
    <div class="buttonUser">
      
        <a class="adoptme-btn" href = "/adopt/{{this.id}}/adoption-form">ADOPT ME!</a>
        <a href = "/users/{{this.id}}/favorites/add"><img class="favoris-btn" src="https://img.icons8.com/color/48/000000/like--v2.png"/></a>

    </div>

    <div class="buttonAdmin">
    <button><a href = "/adopt/{{this.id}}/update">Update</a></button>
    <button><a href = "/adopt/{{this.id}}/delete">Delete</a></button>
    </div>
    <form method="POST"></form>
{{/each}}
  </ul>
</div>