<form method="POST" action="/adopt/{{dogs._id}}/update">
<h2>update dog's info</h2>
<div>
    <label for="name">Name:</label>
    <input type="text" name="name" value="{{dogs.name}}">
</div>
<div>
    <label for="breed">Breed:</label>
    <input type="text" name="breed" value="{{dogs.breed}}">
</div>
<div>
    <label for="location">Location:</label>
    <input type="text" name="location" value="{{dogs.location}}">
</div>
<div>
    <label for="description">Description:</label>
    <input type="text" name="description" value="{{dogs.description}}">
</div>
<div>
    <label for="image" enctype="multipart/form-data" action="/upload">Image:</label>
    <input type="file" name="image" value="{{dogs.image}}">
</div>
<div>
    <p>Is Adopted ?</p>
</div>
<div>
  <input type="radio"  name="adopted" value="yes">
  <label for="yes">Yes</label>
</div>
<div>
  <input type="radio"  name="adopted" value="no">
  <label for="no">No</label>
</div>

<button type="submit">Update Dog!</button>
</form>